.embedded-video {
  margin: 2rem;
  border-width: 2px;
  width: 42.7rem;
  height: 24rem;
  border-style: solid;
  border-color: rgba(40, 109, 24, 0.65);
}

.video-container {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.video-title {
  text-align: center;
  color: #03a122c9;
  margin: 2.5rem;
  margin-top: 2rem;
  margin-bottom: -3.5rem;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}