.embedded-video {
  margin: 2rem;
  border-width: 2px;
  width: 36rem;
  height: 20rem;
  border-style: solid;
  border-color: #3eeddbc4;
}

.video-container {
  user-select: none;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.video-title {
  user-select: none;
  text-align: center;
  color: #3eeddbc4;
  margin: 2.5rem;
  margin-top: 2rem;
  margin-bottom: -3.5rem;
  font-size: 1.6em;
  font-weight: bold;
  text-transform: uppercase;
}